# ==========================================
# e-punyasewa Environment Configuration
# ==========================================

# Port exposed on the host machine
APP_PORT=8080

# Environment Mode
NODE_ENV=production
